<?xml version="1.0" encoding="utf-8"?>
<DisplayDriverUninstaller Version="18.0.1.5">
	<Settings>
		<SelectedLanguage>ru-RU</SelectedLanguage>
		<RemoveMonitors>True</RemoveMonitors>
		<RemoveCrimsonCache>True</RemoveCrimsonCache>
		<RemoveAMDDirs>True</RemoveAMDDirs>
		<RemoveAudioBus>False</RemoveAudioBus>
		<RemoveAMDKMPFD>True</RemoveAMDKMPFD>
		<RemoveNvidiaDirs>True</RemoveNvidiaDirs>
		<RemovePhysX>True</RemovePhysX>
		<Remove3DTVPlay>True</Remove3DTVPlay>
		<RemoveGFE>True</RemoveGFE>
		<UseRoamingConfig>False</UseRoamingConfig>
		<CheckUpdates>True</CheckUpdates>
		<CreateRestorePoint>True</CreateRestorePoint>
		<SaveLogs>True</SaveLogs>
		<RemoveVulkan>True</RemoveVulkan>
		<ShowOffer>True</ShowOffer>
		<EnableSafeModeDialog>True</EnableSafeModeDialog>
		<PreventWinUpdate>False</PreventWinUpdate>
	</Settings>
</DisplayDriverUninstaller>